/*------------------------------------------------------
CSS - Body
--------------------------------------------------------*/
body {
  background-color: #eee;
  padding-bottom: 40px;
}

.form-center {
  max-width: 330px;
  margin: 0 auto;
  padding: 15px;
}
.form-center .form-center-heading,
.form-center .checkbox {
  margin-bottom: 10px;
}

.form-center .checkbox {
  font-weight: normal;
}

.form-center .form-control {
  font-size: 16px;
  height: auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

.form-center .form-control: focus {
  z-index: 2;
}

.form-center input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;

}

.form-center input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}
.publish-button {
  width: 40%;
}

/*------------------------------------------------------
HEADER
--------------------------------------------------------*/
/*header {
  background-color: #CFD8DC;
  height: 60px;
  margin: 0;
}*/
nav.navbar.navbar-default {
  margin-bottom: 0px;
}
.blogpost_center {
  margin: 0 auto;
  max-width: 400px;
}
.blogpost {
  margin: 0 auto;
  text-align: center;
}
.border {
  margin: 5px;
  text-align: center;
  border: solid 1px #eee;
  width: 400px;
  padding: 5px;
}
.blogpost > h1 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #aaa;
  font-size: 5.0rem;
}
.blogpost > .date, .text, .author > p {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #666;
  font-size: 1.5rem;
}
.banner {
  background-repeat: none;
  background-size: 100%;
  background-image: url("../img/layout/banner.jpg");
  background-position: center 50%;
  height: 55vh;
  width: 100%;
}
input.btn.btn-lg.btn-primary.btn-block {
  max-width: 330px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.frida-form {
  width: 50%;
  margin: 10px 0 0 150px;
  padding: 10px;
}
.comments_to_post {
  text-align: center;
}
.comments_to_post > h3 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #666;
  font-size: 2.0rem;
}
.comments_to_post > form > p {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #666;
  font-size: 1.2rem;
}
.fa {
  color: #000;
}

/*------------------------------------------------------
FOOTER
--------------------------------------------------------*/
