.page-content{
	min-height: 100vh;
	padding-top: 82px;
}

h1, h2, h3, h4{
	font-family: $primary-font;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 2em;
}

p {
	display: inline;
}

p.bold, span.bold {
	font-weight: bold;
	margin: 0px;
	padding-right: 10px;
	/* letter-spacing: 0.1em; */
}

p.italic, span.italic {
	font-style: italic;
	padding-right: 10px;
}

.btn{
	background-color: $button-color;
	border: none;
}

//vad gör denna?
.blogpost {
	z-index: -10;
}

// vad gör denna?
.pagination_controls {
  min-width: 300px;
	font-family: $primary-font;
}


// FORMATTERING FÖR BLOGGPOSTS
.date {
	font-style: italic;
	font-size: 0.9em;
}

.author {
	font-weight: bold;
	margin: 0px;
	padding-right: 10px;
	//color: $accent-color;
	/* letter-spacing: 0.1em; */
}

a{
	color: $divider-color;
	font-style: italic;
}

textarea {
	resize: vertical;
}

// index.php 

h1.blog-text-center, .blog-text-center{
  text-align: center;
}

// Bannerbilden på index.php
.banner{
  background-image: url("../../images/layout/bw_7.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 0px;
  background-size: cover;
}

//högerjusterar written by, categories etc i varje inlägg på index.php
.right-align{
  text-align: right;

}
