.page-content{
	min-height: 100vh;
	padding-top: 82px;
}

h1, h2, h3, h4{
	font-family: $primary-font;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 2em;
}

p {
	display: inline;
}

p.bold, span.bold {
	font-weight: bold;
	margin: 0px;
	padding-right: 10px;
	/* letter-spacing: 0.1em; */
}

p.italic, span.italic {
	font-style: italic;
	padding-right: 10px;
}

.btn{
	background-color: $button-color;
	border: none;
}

.date {
	font-style: italic;
}
.blogpost {
	z-index: -10;
}

.author {
	font-weight: bold;
	margin: 0px;
	padding-right: 10px;
	/* letter-spacing: 0.1em; */
}
