//-----------------------------------------------------------------------------
// LOGIN
//-----------------------------------------------------------------------------

// bakgrunden för loginsidan, denna ska senare finnas i bakground.scss när det funkar
  body.login{
    background-image: url("../../images/layout/bw_1.jpg");
    background-size: cover;
    height: 100vh;
  }

// den vita rutan som omger loginformuläret
  .form {
    background: $primary-color;
    max-width: 400px;
    margin: 20vh auto;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

// forumulär-inputfälten
  .form input {
    font-family: $primary-font;
    outline: 0;
    width: 90%;
    margin: 0 auto 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

// loginknappen
  .login-button {
    font-family: $primary-font;
    text-transform: uppercase;
    outline: 0;
    background: $button-color;
    width: 100%;
    border: none;
    padding: 15px;
    color: $primary-color;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .btn:hover,.btn:active,.btn:focus {
    background: $button-hover;
    border: none;
  }

//-----------------------------------------------------------------------------
// DASHBOARD
//-----------------------------------------------------------------------------

// välkomsttexten på dashboard
.img {
  background-image: url("../../images/layout/banner5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
  .welcome{
    font-family: $primary-font;
    font-size: 3em;
    text-align: center;
  }

// detta är den vita boxen runt om input-fälten för inlägg
// denna kan man kodförkorta med @extend
  .blogpost-box {
   @include whitebox;

  }

// inputrutan för rubrik och brödtext
input[type="text"], input[type="email"], textarea {
    font-family: $primary-font;
    outline: 0;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
  }


// denna borde också gå att spara som variabel eller på något sätt slippa specificera för varje sida */
  h1.dashboard-title{
    font-family: $primary-font;
    font-size: 2em;
    color: $secondary-text-color;

  }

// kategoriväljaren
  select.categories{
    width: 90%;
    margin: 20px auto;
    font-family: $primary-font;
    font-size: 1.3em;
    background-color: $divider-color;
    opacity: 0.7;

  }

// publicera / spara utkast-knapparna
  input[type="submit"]{
    font-family: $primary-font;
    color: $primary-color;
    background-color: $button-color;
    border: none;
    max-width: 90%;
    margin: 0px auto;
    &:hover {
      background-color: $secondary-accent-color;
    }
  }

  //-----------------------------------------------------------------------------
  // STATISTICTS
  //-----------------------------------------------------------------------------

  .statistics-count{
    font-family: $primary-font;
    font-size: 1.5em;
    padding: 2px;
  }

  .statistics-box{
    background: $primary-color;
    max-width: 400px;
    margin: 20vh 50px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

// denna ska generaliseras i base.scss
  h1.statistics{
    font-family: $primary-font;
    font-size: 2.5em;
  }


//-----------------------------------------------------------------------------
// DRAFTS
//-----------------------------------------------------------------------------

.draft-box{
  @include whitebox;

}
.draft-divider{
  margin: 10px auto;
  padding-bottom: 10px;
}

//-----------------------------------------------------------------------------
// COMMENTS: in comments.php
//-----------------------------------------------------------------------------

td {
    word-break: break-all;
    float: left;
    margin: 20px auto;
    line-height: 1.7em;
}


//-----------------------------------------------------------------------------
// BLOG-PAGE: post.php
//-----------------------------------------------------------------------------

/* .divider {
  margin: 10px auto;
  padding-bottom: 10px;
  $divider;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid;
}
 */


 //-----------------------------------------------------------------------------
 // BLOG-PAGE-COMMENTS: index.php, post.php
 //-----------------------------------------------------------------------------
