/* ----------------------------------------------------------------------------
            GENERAL STYLE FOR DESKTOP
---------------------------------------------------------------------------- */

// white background box in all pages
.whitebox{
    @include whitebox;
}

/* ----------------------------------------------------------------------------
            LOGIN
---------------------------------------------------------------------------- */

// the white background box in login.php
.form {
    @include whitebox;
    max-width: 400px;
    margin-top: 25vh;
}

// input fields in forms
.form input {
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 14px;
    margin: 0 auto 15px;
    outline: 0;
    padding: 15px;
    width: 90%;
}

.login-button {
    background: $accent-color;
    border: none;
    color: $primary-color;
    cursor: pointer;
    font-family: $primary-font;
    outline: 0;
    padding: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
}

.btn:hover,.btn:active,.btn:focus {
    background: $secondary-accent-color;
    border: none;
}

h2.login{
    color: $primary-text-color;
}

/* ----------------------------------------------------------------------------
            DASHBOARD
---------------------------------------------------------------------------- */

// personalized welcome text in dashboard.php
.welcome{
    font-family: $primary-font;
    font-size: 2.5em;
    text-align: center;
}

//this affects input fields in dashboard, editpost and login
input[type="text"], input[type="email"], input[type="password"], textarea {
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 16px;
    margin: 10px auto;
    outline: 0;
    padding: 15px;
    width: 100%;
}

// category dropdown
select.categories {
    background-color: $divider-color;
    font-family: $primary-font;
    font-size: 1.1em;
    margin: 20px auto;
    opacity: 0.7;
    width: 100%;
}

// publish/ save draft buttons
input[type="submit"] {
    background-color: $accent-color;
    border: none;
    color: $primary-color;
    font-family: $primary-font;
    font-size: 1.1em;
    max-width: 100%;
    margin: 0px auto;
    &:hover {
      background-color: $secondary-accent-color;
    }
}

/* ----------------------------------------------------------------------------
            STATISTICS
---------------------------------------------------------------------------- */

// the text that shows how many posts/comments users have
.statistics-count{
    font-family: $primary-font;
    font-size: 1.2em;
    padding: 2px;
}

// the white box background in statistics.php
.statistics-box{
    @include whitebox;
    max-width: 400px;
}

/* ----------------------------------------------------------------------------
            DRAFTS
---------------------------------------------------------------------------- */

// controls the margin in hr tags
.divider {
    margin: 15px auto;
    padding: 0 20px;
}

/* ----------------------------------------------------------------------------
            BLOG PAGE
            - posts.php
---------------------------------------------------------------------------- */

// controls the whole comments form
.comments_to_post{
    margin: 30px auto;
}

/* ----------------------------------------------------------------------------
            BLOG PAGE
            - index.php
---------------------------------------------------------------------------- */

//controls the text/posts
.blogpost_center{
    margin: 0px 300px;
}


// Banner image on index.php
.banner{
    background-image: url("../../images/layout/banner_mobil.jpg");
    max-height: 700px;
}
.text_orange {
    width: 50%;
    margin-top: 40vh;
    margin: 40vh 20vh;
}

/* ----------------------------------------------------------------------------
        ANIMATION ARROW
        - keyframe settings to make the arrow bounce
---------------------------------------------------------------------------- */

.bounce {
    @include arrow;
}

// Standard syntax
@keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0;
    }
}

// Safari
@-webkit-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0;
    }
}