//-----------------------------------------------------------------------------
// LOGIN
//-----------------------------------------------------------------------------

// bakgrunden för loginsidan, denna ska senare finnas i bakground.scss när det funkar
  body.login{
    background-image: url("../../images/layout/bw_1.jpg");
    background-size: cover;
    height: 100vh;
  }

// den vita rutan som omger loginformuläret
  .form {
    background: $primary-color;
    max-width: 400px;
    margin: 25vh auto;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

// forumulär-inputfälten
  .form input {
    font-family: $primary-font;
    outline: 0;
    width: 90%;
    margin: 0 auto 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

// loginknappen
  .login-button {
    font-family: $primary-font;
    outline: 0;
    background: $button-color;
    width: 100%;
    border: none;
    padding: 15px;
    color: $primary-color;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .btn:hover,.btn:active,.btn:focus {
    background: $button-hover;
    border: none;
  }

  h2.login{
    color: $primary-text-color;
  }

//-----------------------------------------------------------------------------
// DASHBOARD
//-----------------------------------------------------------------------------

// välkomsttexten på dashboard
.img {
  background-image: url("../../images/layout/banner5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
  .welcome{
    font-family: $primary-font;
    font-size: 2.5em;
    text-align: center;
    color: $accent-color;
  }

// detta är den vita boxen runt om input-fälten för inlägg
// denna kan man kodförkorta med @extend
  .blogpost-box {
   @include whitebox;

  }

// inputrutan för rubrik och brödtext
input[type="text"], input[type="email"], input[type="password"], textarea {
    font-family: $primary-font;
    outline: 0;
    width: 100%;
    margin: 10px auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
  }


// denna borde också gå att spara som variabel eller på något sätt slippa specificera för varje sida */
  h1.dashboard-title{
    font-family: $primary-font;
    font-size: 2em;
    color: $primary-text-color;

  }

// kategoriväljaren
  select.categories{
    width: 100%;
    margin: 20px auto;
    font-family: $primary-font;
    font-size: 1.1em;
    background-color: $divider-color;
    opacity: 0.7;

  }

// publicera / spara utkast-knapparna
  input[type="submit"]{
    font-family: $primary-font;
    color: $primary-color;
    background-color: $button-color;
    border: none;
    font-size: 1.1em;
    max-width: 100%;
    margin: 0px auto;
    &:hover {
      background-color: $secondary-accent-color;
    }
  }

  //-----------------------------------------------------------------------------
  // STATISTICTS
  //-----------------------------------------------------------------------------

  .statistics-count{
    font-family: $primary-font;
    font-size: 1.2em;
    padding: 2px;
  }

  .statistics-box{
    background: $primary-color;
    max-width: 400px;
    margin: 20vh 50px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .imgStatistics {
      background-image: url("../../images/imgStatistics/statistic3.jpg");
      background-size: cover;
  }

//-----------------------------------------------------------------------------
// DRAFTS
//-----------------------------------------------------------------------------

.draft-box{
  @include whitebox;

}
.divider {
  margin: 15px auto;
}

//-----------------------------------------------------------------------------
// COMMENTS: in comments.php
//-----------------------------------------------------------------------------



//-----------------------------------------------------------------------------
// BLOG-PAGE: post.php
//-----------------------------------------------------------------------------



 //-----------------------------------------------------------------------------
 // BLOG-PAGE-COMMENTS: index.php, post.php
 //-----------------------------------------------------------------------------


//-----------------------------------------------------------------------------
// INDEX.PHP
//-----------------------------------------------------------------------------

.blogpost_center{
  margin: 0px 200px;
}

.comments_to_post{
  margin: 30px auto;
}

// Bannerbilden på index.php
.banner{
  background-image: url("../../images/layout/orange2.jpg");
}
