/* ----------------------------------------------------------------------------
        FLEXBOX
---------------------------------------------------------------------------- */

.flex-container {
    display: flex;
    flex-flow: column;
    -ms-flex-flow: column;
    -ms-flex-pack: distribute;
}

.flex-item {
    background-color: $divider-color;
    color: $primary-color;
    padding: 10px;
    margin: 5px;
    height: 150px;
    width: 250px;
}