/* FOOTER */

footer{
	color: $primary-color;
	font-family: $primary-font;
	font-size: 1em;
	text-align: center;
	padding: 20px;
	max-height: 200px;
	background-color: $divider-color;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.fa-facebook-square, .fa-instagram,.fa-twitter-square {
	color: $primary-color;
}

