/* ----------------------------------------------------------------------------
        FOOTER
---------------------------------------------------------------------------- */

footer {
	background-color: transparent;
	color: $divider-color;
	font-family: $primary-font;
	font-size: 0.9em;
	line-height: 1em;
	max-height: 200px;
	padding: 20px;
	text-align: center;
}

/* SOCIAL MEDIA LOGOS */
.fa-facebook-square, .fa-instagram,.fa-twitter-square {
	color: $accent-color;
}
