header {
    z-index: 1000;
    position: absolute;
    width: 100%;
}
nav {
	float: left;
	width: 100%;
}
nav * {
    color: $accent-color;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}
nav *:hover {
    color: $primary-text-color;
    text-decoration: none;
}
.right-btn {
    display: inline;
    float: right;
}
.menu-btn-lvl-1 {
    float: left;
    min-width: 150px;
    height: 50px;
    margin-right: 2px;
    line-height: 50px;
}

.menu-btn-lvl-1 > ul {
    display: none;
}

.menu-btn-lvl-1:hover > ul {
    display: block;
}

.menu-btn-lvl-2 {
    background: $primary-color;
}

.menu-btn-lvl-2:hover {
  color: $primary-color;
}

nav a {
    padding: 10px;
    box-sizing: border-box;
}
