/* ----------------------------------------------------------------------------
            GENERAL STYLE FOR MOBILE
---------------------------------------------------------------------------- */

body.dashboard {
    background-color: $primary-color;
    background-image: none;
}
body.comments {
    background-color: $primary-color;
    background-image: none;
}
body.archive {
    background-color: $primary-color;
    background-image: none;
}
body.drafts {
    background-color: $primary-color;
    background-image: none;
}
body.statistics {
    background-color: $primary-color;
    background-image: none;
}
body.comments {
    background-color: $primary-color;
    background-image: none;
}
body.login {
    background-color: $primary-color;
    background-image: none;
}
body.post {
    background-color: $primary-color;
    background-image: none;
}
body.editpost {
    background-color: $primary-color;
    background-image: none;
}

h1 {
    margin-top: 50px;
}

/* ----------------------------------------------------------------------------
            BANNER PICTURE
            - at index.php
---------------------------------------------------------------------------- */
.banner {
    background-image: url("../../images/layout/bannerMobil.jpg");
    max-height: 350px;
}

/* Don't display bouncing arrow if viewed on mobile */
.bounce {
    width: 50%;
    height: 50%;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    height: 70px;
    width: 100px;
    -webkit-animation: bounce 1s infinite; /* Safari */
    animation: bounce 1s infinite;
}

// Standard syntax
@keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0;
    }
}

// Safari
@-webkit-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0;
    }
}

/* ----------------------------------------------------------------------------
            LOGIN
---------------------------------------------------------------------------- */
.form {
    text-align: center;
    width: 100%;
}

.form input {
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 14px;
    margin: 0 0 15px;
    padding: 15px;
    width: 100%;
}

.login-button {
    background: $accent-color;
    color: $primary-color;
    font-family: $primary-font;
    font-size: 14px;
    outline: 0;
    width: 100%;
}

.btn:hover,.btn:active,.btn:focus {
    background: $secondary-accent-color;
}

h2.login{
    color: $primary-text-color;
}

/* center aligns all text on pages where there is a whitebox as background in the desktop site */
.whitebox {
    text-align: center;
}

/* ----------------------------------------------------------------------------
            DASHBOARD
---------------------------------------------------------------------------- */

/* welcome text on dashboard.php */
.welcome{
    font-family: $primary-font;
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: -30px;
    text-align: center;
}

/* input fields for writing headlines and blog texts */
input[type="text"], input[type="email"], textarea {
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 16px;
    margin: 10px auto;
    outline: 0;
    padding: 15px;
    width: 100%;
}

/* category picker */
select.categories {
    background-color: $divider-color;
    font-family: $primary-font;
    font-size: 1.1em;
    margin: 15px auto;
    opacity: 0.7;
    height: 30px;
    width: 100%;
}

/* publish/ save draft buttons */
input[type="submit"] {
    background-color: $accent-color;
    border: none;
    color: $primary-color;
    font-family: $primary-font;
    font-size: 1.1em;
    max-width: 100%;
    margin: 0px auto;
    
    &:hover {
        background-color: $secondary-accent-color;
    }
}

/* surounding area (like whitebox in desktop version), gives a little extra margin between button and end of page */
.blogposts {
    margin-bottom: 30px;
}

/* ----------------------------------------------------------------------------
            STATISTICS
---------------------------------------------------------------------------- */

/* text formatting for the looped out text on statistics.php */
.statistics-count {
    font-family: $primary-font;
    font-size: 1.5em;
    padding: 2px;
    text-align: center;
}


/* ----------------------------------------------------------------------------
            POSTS
            - the page where visitors can comment posts
---------------------------------------------------------------------------- */

/* gives a little extra margin to this page */
.mobile-margin {
    margin: 15px 10px;
} 