/* ----------------------------------------------------------------------------
            COLOR VARIABLES
    - Change color scheme for blog here
---------------------------------------------------------------------------- */

$primary-text-color:	#212121; /* black for paragraphs */
$primary-color:			#FFFFFF; /* white for backgrounds */
$accent-color:			#ff8c1a; /* orange for buttons, headlines, other bits that need accent color */
$secondary-accent-color: #e67300; /* darker orange for button hovers */
$divider-color:			#BDBDBD; /* grey for dividers */
$secondary-text-color:		#999; /* grey for dates */
$error-text-color:			#F00; /* red for error messages */

/* ----------------------------------------------------------------------------
            FONT VARIABLES
---------------------------------------------------------------------------- */

$primary-font: "Avenir", "Roboto", sans-serif;
