/* ----------------------------------------------------------------------------
            COLOR VARIABLES
    - Change color scheme for blog here
---------------------------------------------------------------------------- */

$primary-text-color:		#212121; /* Black for paragraphs */
$primary-color:				#FFFFFF; /* White for backgrounds */
$accent-color:				#ff8c1a; /* Orange for buttons, headlines, other bits that need accent color */
$secondary-accent-color: 	#e67300; /* Darker orange for button hovers */
$divider-color:				#BDBDBD; /* Grey for dividers */
$secondary-text-color:		#999; /* Grey for dates */
$error-text-color:			#F00; /* Red for error messages */
$nav-header-color: 			#222; /* Gray for navigation */

/* ----------------------------------------------------------------------------
            FONT VARIABLES
---------------------------------------------------------------------------- */

$primary-font: "Avenir", "Roboto", sans-serif;
